:root {
  --white: #ffffff;
  --turquoise_ui_kit: #43ffd2;
  --light_pink_ui_kit: #d978ac;
  --dark_pink_ui_kit: #7d2253;
  --black: #000000;
  --blackish_ui_kit: #040a0a;
  --feedback_placeholder: #395959;
  --lf_coursive: #1f3a3a;
  --questions_coursive: #0e2c2c;
  --questions_bg: #0f2222;
  --cart_number: #142b2b;
  --hero_ellipse: #249479;
  --sale_bg: #31985a;
  --popular_ellipse: rgba(67, 255, 210, 0.47);
  --price_before_discount: #939393;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--blackish_ui_kit);
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

body {
  max-width: 1440px;
  width: 100%;
  color: var(--white);
}
